//background 
$dark-blue:#212C4F;
$super-dark-blue:#1b233f;
$Light-Gray:#F0F3F5;

//Text Colors
$Dark-Green:#205284;
$Light-Blue:#C6D0EB;
$Black:#000000;
$White:#FFFFFF;

//Button Colors
$Purple:#7B42F6;
$Violet:#B01EFF;
$Pink:#E1467C;
$Blue:#3672F8;
$Teal:#56CCF2;
$Green:#A6E1D5;





