//background 
$dark-blue:#212C4F;
$super-dark-blue:#1b233f;
$Light-Gray:#F0F3F5;

//Text Colors
$Dark-Green:#205284;
$Light-Blue:#C6D0EB;
$Black:#000000;
$White:#FFFFFF;

//Button Colors
$Purple:#7B42F6;
$Violet:#B01EFF;
$Pink:#E1467C;
$Blue:#3672F8;
$Teal:#56CCF2;
$Green:#A6E1D5;


// Background Colors
$dark-blue: #212c4f;
$super-dark-blue: #1b233f;
$light-gray: #f0f3f5;

// Text Colors
$dark-green: #205284;
$dark-gray: #5b6175;
$light-blue: #c6d0eb;
$black: #000000;
$white: #ffffff;

// Button Colors
$violet: #b01eff;
$pink: #e1467c;
$blue: #3672f8;
$middle-blue: #546bfb;
$teal: #56ccf2;
$green: #a6e1d5;
$turquoise: #14f1d9;





